.activos .divPadreActivos{
    display: flex;
    flex-wrap: wrap;
}

.activos .tituloActivos,.tituloEstadoCuenta{
    text-align: center;
}

.seccionTitulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionTitulos .divInputTituloBuscado{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}