@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #007FA3;
}

#body{
    background-color: beige
}

.divTitulo{
    display: flex;
    justify-content: start;
    margin-left: 100px;
}

.tituloPrincipal{
    width: fit-content;
}

.divTitulo .tituloPrincipal .tituloPagina{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3.5rem;
}

.activos .divPadreActivos{
    display: flex;
    flex-wrap: wrap;
}

.tituloActivos{
    text-align: center;
}

.tituloActivos h1{
    font-size: 3rem;
}

.seccionTitulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionTitulos .divInputTituloBuscado{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.divPadreActivos{
    background-color: rgb(0, 157, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divHijoActivos{
    margin: 40px;
    background-color: pink;
}

.divContenidoActivo{
    width: fit-content;
    background-color: chartreuse;
    margin: 20px;
    padding: 30px;
}

.secciones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.secciones .botonEstadoCuenta,
.botonActivos,
.botonMisRegistros,
.botonTitulos,
.botonLogout{
    font-size: 1rem;
    margin: 15px 0;
    padding: 5px;
    border-radius: 8%;
}

.estadoCuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloEstadoCuenta{
    width: fit-content;
}

.tituloEstadoCuenta h1{
    font-size: 3rem;
}

.divPadreEstadoCuenta{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.divHijoEstadoCuenta{
    padding: 20px 0;
}

.h1NoData{
    text-align: center;
}

.tituloBuscado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloTitulos{
    margin: 20px 0;
}

.tituloTitulos h1{
    font-size: 3rem;
}

.divInputTituloBuscado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divInputTituloBuscado h2{
    font-size: 2.5rem;
}

#inputTitulo{
    margin: 20px 0;
    font-size: 2rem;
}

#botonBuscarTitulo{
    margin: 2px 0;
    width: fit-content;
    padding: 2.5px;
    border-radius: 8%;
    background-color: #007FA3;
    font-size: 1.3rem;
}

.tituloRegistros{
    text-align: center;
}

.tituloRegistros h1{
    font-size: 3rem;
}

.divFormRegistro{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.formularioRegistro{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.inputs1, .inputs2{
    display: flex;
    flex-direction: row;
}

.inputs1 div{
    margin: 10px 20px;
}

.inputs2 div{
    margin: 10px 20px;
}

.formularioRegistro p, input{
    font-size: 2rem;
}

.enviarBtnFormRegistro, .limpiarBtnFormRegistro{
    width: fit-content;
}

.btnsForm{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-evenly;
}

.bodyLogin{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.divLogin{
    height: 350px;
    background-color: #0080a386;
    padding: 5px;
}

.tituloLogin h1{
    font-size: 2.5rem;
}

.cardLogin{
    height: 100%;
    background-color: #0080a39f;
    padding: 5px;
}

.divCuerpoLogin{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #007FA3;
    padding: 10px;
}

.divFormLogin{
    height: 80%;
    background-color: #007FA3;
}

.formLogin{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    background-color: #015d77;
}

.divInputUsername label,
.divInputPassword label{
    font-size: 1.8rem;
}

.divInputBotonLogin{
    text-align: center;
}